body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    background: #f9f9f9;
    overflow: auto;
}

.grid-container {
    display: grid;
    margin: 20px auto;
    padding: 10px;
    max-width: 1000px;
    width: 90%;
    max-height: 90vh;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.user-container {
    grid-column: 1 / 3;
    background-color: #add8e6;
    border: 3px solid #d63351;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
}

.circle {
    width: 150px;
    aspect-ratio: 1 / 1;
    border: 2px solid #d63351;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.circle img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.hobbies, .aspirations {
    background-color: #add8e6;
    border: 3px solid #d63351;
    border-radius: 15px;
    display: grid;
    place-items: center;
    padding: 20px;
}
